<section class="hero">
    <div class="hero-body">
        <div class="columns is-desktop">
            <div class="column is-one-quarter"></div>
            <div class="column ">
                <div class="card-center">
                    <section class="hero is-primary">
                        <div class="container"><br>
                            <div class="media-content ">
                                <p class="control">

                                    <h1 class="title is-1  has-text-centered">Log in</h1>

                                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                    <div class="field  has-text-centered">
                                        <p class="control">
                                            <%= f.label :email, :class => 'label' %>
                                            <%= f.email_field :email, autofocus: true, :class => 'input' %>
                                        </p>

                                        <p class="control">
                                            <%= f.label :password, :class => 'label'%>
                                            <%= f.password_field :password, autocomplete: "off", :class => 'input' %>
                                        </p>

                                        <% if devise_mapping.rememberable? -%>
                                        <p class="control">
                                            <%= f.check_box :remember_me , :class => 'checkbox'%>
                                            <%= f.label :remember_me , :class => 'label' %>
                                        </p>
                                        <% end -%>

                                        <p class="control">
                                            <%= f.submit "Log in", :class => 'button' %>
                                        </p>
                                        <% end %>
                                        <p class="control">
                                            <%= render "devise/shared/links" , :class => 'label'%>
                                        </p>
                                        <br/><br/>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            <div class="column is-one-quarter"></div>
        </div>
    </div>
</section>
